[%- PROCESS 'macros.tt' -%]
[%- SET cln = clans.all.item(clan); -%]
<!doctype html>

<html>

<head>
  <title>TNNT::[% cln.name %]</title>
  <base href="../">
  <link rel="stylesheet" type="text/css" href="default.css">
  <script src="js/scbd-filter.js"></script>
</head>

<body>

[% INCLUDE header.tt page = 'clans' %]
<h1>[% cln.name %]</h1>

<div class="row">

[%# =======================================================================
    === GENERAL INFORMATION ===============================================
    ======================================================================= %]

<table>

  <thead>
    <tr class="framed"><th colspan=2>general information</th></tr>
  </thead>

  <tr>
    <td>rank</td>
    <td class="num">
      [% IF cln.exists('rank') %]
        [% cln.rank %] of [% clans.ordered.size %]
      [% ELSE %]
        N/A
      [% END %]
    </td>
  </tr>

  <tr>
    <td>games played</td>
    <td class="num">[% cln.games.size %]</td>
  </tr>

  <tr>
    <td>games ascended</td>
    <td class="num">[% cln.ascs.size || 0 %]</td>
  </tr>

  <tr>
    <td>unique ascensions</td>
    <td class="num">[% cln.unique_ascs.size || 0 %]</td>
  </tr>

  <tr>
    <td>ascension ratio</td>
    <td class="num">
      [% IF cln.exists('ratio'); cln.ratio _ "%"; ELSE; "N/A"; END %]
    </td>
  </tr>

  <tr>
    <td>achievements</td>
    <td class="num">[% cln.achievements.size %]</td>
  </tr>

  <tr>
    <td>unique deaths</td>
    <td class="num">[% cln.unique_deaths.size %]</td>
  </tr>

  <tr>
    <td>score</td>
    <td class="num">[% cln.score %]</td>
  </tr>

</table>

[%# =======================================================================
    === TROPHIES ==========================================================
    ======================================================================= %]

[% IF cln.trophies.size %]
  <table>

    <thead>
      <tr class="framed"><th colspan="2">trophies</th></tr>
    </thead>

    <tbody>
      [% FOREACH tr IN cln.trophies %]
      <tr>
        <td>[% tr.title %]</td>
        <td>[% tr.when %]</td>
      </tr>
      [% END %]
    </tbody>

  </table>
[% END %]

[%# =======================================================================
    === CLAN MEMBERS ======================================================
    ======================================================================= %]

<table class="clan-members">

  <thead>
    <tr class="framed"><th colspan=2>members</th></tr>
  </thead>

  <tr>
    <td class="align-top">admins</td>
    <td>
      [%
        SET x = '';
        FOREACH player IN cln.admins;
          x; x = ', ';
          plink(player);
        END;
      %]
    </td>
  </tr>

  [% IF (cln.players.size - cln.admins.size) %]
    <tr>
      <td class="align-top">members</td>
      <td>
        [%
          SET x = '';
          FOREACH player IN cln.players;
            NEXT IF cln.admins.grep('^' _ player _ '$').size;
            x; x = ', ';
            plink(player);
          END
        %]
      </td>
    </tr>
  [% END %]

</table>

</div>

[%# =======================================================================
    === ASCENSIONS & RECENT GAMES =========================================
    ======================================================================= %]

[% IF cln.ascs.size || cln.games.size %]

  <table>

    [% IF cln.ascs.size %]

      <thead>
        <tr><td colspan=10><h2>ASCENSIONS</h2></td></tr>
        [% INCLUDE game.tt head=1 aswon=1 class="framed" %]
      </thead>

      <tbody>
        [% SET i = cln.ascs.size %]
        [% FOREACH game IN cln.ascs.reverse %]
          [% INCLUDE game.tt aswon=1 %]
          [% SET i = i - 1 %]
          [% LAST IF cnt == 0 || i == 0 %]
        [% END %]
      </tbody>

    [% END %]

    <thead>
      <tr><td colspan=10><h2>RECENT GAMES</h2></td></tr>
      [% INCLUDE game.tt head=1 class="framed" %]
    </thead>

    <tbody>
      [% SET i = cln.games.size; SET cnt = 10; %]
      [% IF i %]
        [% FOREACH game IN cln.games.reverse %]
          [% IF !games.all.item(game).scum; INCLUDE game.tt markuniq=1; SET cnt = cnt - 1; END %]
          [% SET i = i - 1 %]
          [% LAST IF cnt == 0 || i == 0 %]
        [% END %]
      [% ELSE %]
        <tr>
          <td class="no-games" colspan=10>this clan has no finished games</td>
        </tr>
      [% END %]
    </tbody>

  </table>

[% END %]

[%# =======================================================================
    === ACHIEVEMENTS ======================================================
    ======================================================================= %]

<h2 id="achievements">Achievements</h2>

<div class="achieve-top">

    [% FOREACH ach IN config.item('achievements-ordered') %]
    <div
      class="achieve-item[% IF cln.achievements.grep('^' _ ach _ '$').size %] achieved[% ELSE %] not-achieved[% END %]"
      title="[% config.achievements.item(ach).descr %]"
      [% IF ach == 'ndexperience' %] style="font-variant:small-caps" [% END %]
    >
      [% config.achievements.item(ach).title %]
    </div>
    [% END %]

    <div class="achieve-summary">
      [%
        SET pct = (cln.achievements.size
                  / config.item('achievements-ordered').size)
                  * 100
      %]
      <div class="achieve-bar" style="width: [% pct %]%"></div>
      <div class="achieve-msg">
      [% cln.achievements.size %] out of
      [% config.item('achievements-ordered').size %] achievements attained
      </div>
    </div>

</div>

[%# =======================================================================
    === UNIQUE DEATHS =====================================================
    ======================================================================= %]

[% IF cln.unique_deaths.size %]

  <h2>Unique Deaths</h2>

  <table>

    <thead>
      <tr class="framed">
        <th>date</th>
        <th>player</th>
        <th>death reason</th>
      </tr>
    </thead>

    <tbody>
      [% FOREACH de IN cln.unique_deaths %]
        <tr>
          <td>[% games.all.item(de.1).endtime %]</td>
          <td>[% games.all.item(de.1).name %]</td>
          <td>[% de.0 %]</td>
        </tr>
      [% END %]
    </tbody>

    <tfoot>
      <tr class="overline">
        <td colspan=2 class="total">
          [% cln.unique_deaths.size %] unique death[% IF cln.unique_deaths.size > 1 %]s[% END %]
        </td>
        <td class="num">
          rank [% cln.udeaths_rank %]
        </td>
      </tr>
    </tfoot>

  </table>

[% END %]

[%# =======================================================================
    === SCORING LOG =======================================================
    ======================================================================= %]

[% IF cln.score %]
  <h2 id="scoring">SCORING BREAKDOWN</h2>

  <p class="scbd-filter">
  <span class="filter-entry enabled" data-filter="ascension">ascensions</span>
  <span class="filter-entry enabled" data-filter="trophy">trophies</span>
  <span class="filter-entry enabled" data-filter="achievement">achievements</span>
  </p>

  <table>

    <thead>
      <tr class="framed">
        <th>date</th>
        <th>type</th>
        <th>achieved by</th>
        <th>title</th>
        <th>points</th>
      </tr>
    </thead>

    <tbody>

      [% FOREACH se IN cln.scores.reverse %]
        <tr class="[% se.type %]">
          <td>[% se.when_fmt %]</td>
          <td>[% se.type %]</td>
          <td>[% se.data.achiever %]</td>
          <td>
            [%
              IF config.trophies.exists(se.trophy);
                config.trophies.item(se.trophy).title;
              ELSIF config.achievements.exists(se.trophy.replace('clan-ach:',''));
                config.achievements.item(se.trophy.replace('clan-ach:','')).title;
              ELSE;
                '?';
              END;
            %]
          </td>
          <td class="num">[% se.points %]</td>
        </tr>

        [% IF se.trophy == 'clan-ascension' %]

          <tr class="ascension ascbreakdown">
            <td></td>
            <td></td>
            <td></td>
            <td>
              Z-score
              (1/[% se.data.breakdown.repeat %],
              [% se.data.breakdown.combo %])
            </td>
            <td class="num">[% se.data.breakdown.zpoints %]</td>
          </tr>

          [% IF se.data.breakdown.cpoints %]

            <tr class="ascension ascbreakdown">
              <td></td>
              <td></td>
              <td></td>
              <td>
                Conducts ([% se.data.breakdown.conducts.ncond %],
                [% se.data.breakdown.conducts.conducts_txt %])
              </td>
              <td class="num">[% se.data.breakdown.cpoints %]</td>
            </tr>

          [% END %]

          [% IF se.data.breakdown.spoints %]

            <tr class="ascension ascbreakdown">
              <td></td>
              <td></td>
              <td></td>
              <td>Speedrun ([% se.data.breakdown.turns %] turns)</td>
              <td class="num">[% se.data.breakdown.spoints %]</td>
            </tr>

          [% END %]

          [% IF se.data.breakdown.tpoints %]

            <tr class="ascension ascbreakdown">
              <td></td>
              <td></td>
              <td></td>
              <td>Streak ([% se.data.breakdown.streak.index %])</td>
              <td class="num">[% se.data.breakdown.tpoints %]</td>
            </tr>

          [% END %]

        [% END %]

      [% END %]

    </tbody>

    <tfoot>
      <tr class="overline">
        <td colspan=4 class="total">
          [% cln.scores.size %] entr[% IF cln.scores.size == 1 %]y[% ELSE %]ies[% END %]
        </td>
        <td class="num">[% cln.score %]</td>
      </tr>
    </tfoot>

  </table>

[% END %]

[%# ======================================================================= %]

</body>

</html>
