[%- MACRO number(n) GET n.chunk(-3).join(',') -%]
[%- MACRO plink(p) GET '<a href="players/' _ p _ '.html">' _ p _ '</a>' -%]
[%- MACRO clink(c) GET '<a href="clans/' _ c _ '.html">' _ c _ '</a>' -%]
