@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
  background-color: white;
  color: black;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  font-weight: 400;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 400%;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 200%;
  text-align: center;
}

.num {
  text-align: right;
  letter-spacing: 0.04em;
}

.dim {
  color: rgb(100,100,100);
  font-weight: 300;
  font-size: 66%;
  vertical-align: middle;
}

.won {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

span.streak {
  display: inline-block;
  background: #ddd;
  padding: 0 0.3em;
}

div.row {
  display: flex;
  flex-direction: row;
}


.align-top {
  vertical-align: top;
}

/*====================================================================
  === DEFAULT TABLES =================================================
  ====================================================================*/

table {
  border-collapse: collapse;
  padding: 1em;
}

td, th {
  padding: 0.3em 0.6em;
}

th {
  font-weight: 300;
}

thead tr.framed {
  border-bottom: 0.1em solid black;
  border-top: 0.1em solid black;
}

tfoot tr.overline {
  border-top: 0.1em solid black;
}

td.total {
  letter-spacing: 0.3em;
}

div.row table
{
  margin: 0 2em;
}

/*====================================================================
  === CLANS ==========================================================
  ====================================================================*/

/* clan name in clan listing */

span.clan {
  font-size: 200%;
  font-weight: 400;
}

/* Non-breakable text box with dimmed additional information, used for
   showing number of players */

span.subinfo {
  font-weight: 300;
  color: #888;
  font-size: 80%;
  display: inline-block;
  margin-left: 0.5em;
}

/* admin player highlight */

span.plradmin {
  font-weight: bold;
}

/* no clans exist message */

.noclans {
  font-size: 100%;
  letter-spacing: 0.3em;
  text-align: center;
  padding: 1em;
}

/*====================================================================
  === PLAYERS & CLANS ================================================
  ====================================================================*/

/*--- achievements display -------------------------------------------*/

/* the grid container */

div.achieve-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 52em;
  column-gap: 1em;
  row-gap: 1em;
  margin-bottom: 2em;
}

/* the individual achievement box, a grid element */

div.achieve-item {
  padding: 1em;
  height: 3.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* style for the non-attained achievements */

div.achieve-item.not-achieved {
  background: #ddd;
}

/* style for the attained achievements */

div.achieve-item.achieved {
  background: #dfd;
}

/* style for the achievement summary with in-laid progress bar */

div.achieve-summary {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  color: #888;
  position: relative;
  width: 100%;
  background-color: #ddd;
}

div.achieve-bar {
  background-color: #dfd;
  height: 2rem;
}

div.achieve-msg {
  position: absolute;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  top: 0.35rem;
}

/*====================================================================
  === CLAN PAGES =====================================================
  ====================================================================*/

TABLE.clan-members {
  max-width: 20em;
}

.no-games {
  letter-spacing: 0.3em;
  font-weight: 300;
}

/*====================================================================
  === TROPHIES =======================================================
  ====================================================================*/

table.trophies td {
  min-width: 8em;
  border-bottom: 1px solid #eee;
  padding: 0.6rem 1.4rem;
}

table.trophies tr {
  vertical-align: baseline;
}

td.trophy-name {
  font-size: 166%;
  text-transform: uppercase;
  padding-right: 2em;
  font-weight: 300;
}

td.trophy-single {
  font-size: 200%;
  font-weight: 300;
}

td.trophy-multi {
  font-weight: 300;
  font-size: 133%
}

td.trophy-na {
  font-weight: 300;
  font-size: 166%;
  color: #ddd;
  text-align: center;
}
